{% extends "equipos/index.html" %}

{% block titulo %}

<h2 class="font-weight-light">Sobre mí</h2>
{% endblock titulo %}


{% block contenido %}
<h2>¡Muy buenas! Mi nombre es Juan Camilo García Arias, tengo 23 años y actualmente resido en la ciudad de Medellín, Colombia.</h2>
<br>
<h3>Soy tecnólogo biomédico, y actualmente me encuentro desempeñando labores como operario electrónico en una empresa que se dedica a instalar equipos de rayos X y brindarles soporte de mantenimiento correctivo y preventivo.</h3>
<h3>Me interesé en programar debido a que hay ilimitadas oportunidades de crear algo nuevo, algo bueno, algo que impacte en el mundo, 
    Una de las razones por la que se creó este proyecto, es para brindar una pequeña ayuda a una entidad que se desempeñe trabajando como biomédico
    y requiera solicitar agregar, eliminar, modificar información respecto al estado de los equipos biomédicos que se encuentren en su departamento.
    Se pueden agregar equipos biomédicos y tomarlos en cuenta para inventario, teniendo en cuenta sus diferentes etiquetas de identificación que los 
    diferencia a cada uno.
    También pueden acceder y registrarse los usuarios que estén plenamente involucrados con los equipos biomédicos de dicho hospital/entidad/departamento de mantenimiento
    A su vez, los usuarios pueden agregar observaciones que se van almacenando con información relevante que encuentren de cualquier equipo.
</h3>
<h4> </h4>
{% endblock contenido %}